@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    padding: 0px;
    border: 0px;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Space Grotesk', sans-serif;
}

html{
    background-image: url(../img/bg-main-desktop.png);
    background-repeat: no-repeat;
}

.cartao__frente{
    background-image: url(../img/bg-card-front.png);
    background-repeat: no-repeat;
    height: 16em;
    width: 28em;

    position: relative;
    left: 10em;
    top: 5em;
}

.cartao__frente > img{
    padding: 2em;
}

.cartao__frente > p {
    display: inline-flex;
    color: hsl(270, 3%, 87%);
    line-height: 0.1em;
    justify-content: center;
}

.cartao__frente--numero{
    display: block;
    width: 100%;
    font-size: 2em;
}

.cartao__frente div{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    color: hsl(270, 3%, 87%);
}

.cartao__tras{
    background-image: url(../img/bg-card-back.png);
    background-repeat: no-repeat;
    height: 16em;
    width: 28em;
    position: relative;
    left: 15em;
    top: 5em;
    display: flex;
}

.cartao__tras--codigo{
    color: hsl(270, 3%, 87%);
    margin: 7em 4em auto auto;
}

.formulario{
    width: 350px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.formulario section{
    margin-bottom: 30px;
}

.formulario label{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.formulario input{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
    margin: 2px 0 5px 0;
}

.formulario button{
    background-color: hsl(278, 68%, 11%);
    padding: 15px;
    color: hsl(270, 3%, 87%);
    font-size: 1.2em;
    border-radius: 10px;
}

.formulario div{
    display: inline-flex;
}

.data input{
    width: 60px;
    margin-right: 10px ;
}

.cvc input{
    width: 100%;
}

.cvc {
    margin-left: 20px;
}
